body {
  display: flex;
  justify-content: center;

}

.panel {
  margin-top: 3em;
  width: 30em;
}


.title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.index-img-All {
  text-align: center;
  padding: 30px;
  height: 200px;
  background-image: url("../img/index.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.index-img-dairy {
  padding: 30px;
  height: 200px;
  background-image: url("../img/dairy.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.index-img-vegetable {
  padding: 30px;
  height: 200px;
  background-image: url("../img/veg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.index-img-fruit {
  padding: 30px;
  height: 200px;
  background-image: url("../img/fruit.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.index-img-add {
  padding: 30px;
  height: 200px;
  background-image: url("../img/add.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.add-new-form {
  margin: 30px;
}

.label {
  padding-top: 1em;
}

.edit-delete {
  display: flex;
  flex-direction: row;
}

.btn-bottom-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button.is-link {
  margin: .5em;
}

.btn-wrap-all {
  margin: .5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}