body {
  display: flex;
  justify-content: center;

}

.panel {
  margin-top: 3em;
  width: 30em;
}

.panel-heading {
  text-align: center;
  padding: 30px;
  height: 200px;
  background-image: url("./all.jpg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
}

.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.add-new-form {
  margin: 30px;
}

.label {
  padding-top: 1em;
}
.edit-delete {
display: flex;
flex-direction: row;
}
.btn-bottom-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button.is-link {
  margin: .5em;
}

.btn-wrap-all {
  margin: .5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}