<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <article class="panel is-primary">
    <div class="index-img-<%=category%>">
    <div class="title is-size-3 has-text-centered is-capitalized has-text-white-ter has-text-weight-bold">
      <span><%=category%> products</span>
    </div>
  </div>
    <p class="panel-tabs has-text-weight-semibold">
      <a href="/products">All</a>
      <a href="/products?category=dairy">Dairy</a>
      <a href="/products?category=vegetable">Vegetable</a>
      <a href="/products?category=fruit">Fruit</a>
    </p>
    <div class="btn-wrap">
      <a class="button is-link is-rounded" href="/products/new">
        Add New
      </a>
    </div>


    <% for(let product of products) { %>
      <a class="panel-block is-active" href="/products/<%=product._id%>">
        <%= product.name %>
      </a>
      <% }%>



  </article>


</body>

</html>